<!doctype html>
<html lang="en">
    <head>

        <meta charset="UTF-8">

        <link rel="stylesheet" href="{{ url_for('static', filename='dropzone.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">

        <script type="application/javascript" src="{{ url_for('static', filename='dropzone.js') }}">
        </script>

        <title>File Dropper</title>
    </head>
    <body>

        <form method="POST" action='/upload' class="dropzone dz-clickable"
              id="dropper" enctype="multipart/form-data">
        </form>

    </body>

    <script type="application/javascript">
        Dropzone.options.dropper = {
            paramName: 'file',
            chunking: true,
            forceChunking: true,
            url: '/upload',
            maxFilesize: 1025, // megabytes
            chunkSize: 1000000 // bytes
        }
    </script>

</html>