{% extends 'base.html' %}
{% set active_page = 'index' %}

{% block head %}
    {{ super() }}
    {% block title %} Files upload {% endblock %}

    <link rel="stylesheet" href="{{ url_for('static', filename='dropzone.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">

    <script type="application/javascript" src="{{ url_for('static', filename='dropzone.js') }}"></script>

{% endblock %}

{% block content %}

    <main class="content-wrapper">
        <div class="container-fluid" style="padding: 20px">
            <h3>Загрузка файлов</h3>
            <hr>

            <nav aria-label="breadcrumb" style="background-color: #fdfdfd">
                <ol class="breadcrumb" style="background-color: #fdfdfd">
                    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Загрузка файлов</li>
                </ol>
            </nav>

            <form method="POST" action='/upload' class="dropzone dz-clickable"
                  id="dropper" enctype="multipart/form-data">
            </form>
            <br>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="text-center">
                <span>Coded 2019</span>
            </div>
        </div>
    </footer>

{% endblock %}
{% block script%}
    {{ super() }}
    <script type="application/javascript">
        Dropzone.options.dropper = {
            paramName: 'file',
            chunking: true,
            forceChunking: true,
            url: '/upload',
            maxFilesize: 1025, // megabytes
            chunkSize: 1000000 // bytes
        }
    </script>
{% endblock %}